

<div class="col-sm-12 col-sm-offset-4 remove-padding">
<div class="container-complete-list">
<% if @trips.empty? %>
  <h1> You haven't created any trips yet</h1>
  <%= link_to "Create my first trip", root_path %>
<% else %>
  <h1>Here is the list of all your trips</h1>
  <ul class="trip-list">
  <% @trips.each_with_index do |trip, index| %>
  <div class="wrapper-trip-list-item">
    <li><%= link_to trip.name, trip_trip_activities_path(trip) %></li>
    <p><%= trip.city.name%></li>
  </div>
  <% end %>
  </ul>
<% end %>
</div>
</div>
