// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Gogo colors:
$light-green: #96ED72;
$dark-green: #17B978;
$sea-blue: #01c0da;
$default-text-color: #333333;
$background: #f8f8f8;
$footer-color: #383838;
