// Specific CSS for your home-page


.home-background {
  text-align: center;
  background-color: $background;
  background-position: center;
  color: white;
  overflow-y:hidden;
  height: calc(100vh - 60px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: $sea-blue;
  font-size: 20px;
  margin-top: 0px;
}

.home-title-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

p.home-title-wrapper {
  margin-bottom: 0px;
}

.home-wrapper-cards {
  height: 180px !important;
  white-space: nowrap !important;
  overflow-x: scroll !important;
  margin-bottom: -30px !important;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  background-color: $background;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .home-card-banner {
    border: 2px solid $blue;
  }
}

.form-group {
  overflow: hidden;
  height: 200 px;
}

.preferences-card {
  display: inline-block !important;
  margin-right: 4px !important;
  width: 210px;
  height: 170px;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
    .checkbox {
      margin-top: 0px;
    }
  position: relative;
}

.home-card {
  display: inline-block !important;
  margin-right: 4px !important;
  width: 150px;
  height: 155px;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
}

.home-card-banner {
  width:100%;
  height:170px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-position: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
      opacity: .6;
    }
}

.home-card:focus {
  opacity:0.5;
}

.home-card-text {
  text-align: center !important;
  font-size: 18px;
  font-family: $body-font;
  font-weight: 500;
  color: white;
  height: 15px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.radio {
  display:flex;
  margin-top: 0px;
}

.label {
  width:100%;
  margin: 0px;
  padding-left: 0px !important;
  padding: 0px;
}


.home-name-trip {
  margin-top: 40px;
    label {
  font-family: $body-font;
  font-size: 26px;
  text-align: left !important;
  color: $default-text-color;
  font-weight: lighter;
  width: 375px;
    }
    .btn {
      border-radius: 50px;
      font-weight: bold;
      background-color: $dark-green;
      font-family: $headers-font;
    }
    .btn:hover {
      background-color: $dark-green;
    }
}


.trip_city .radio_buttons {
  display: none
}

.create_trip {
  margin-top: 50px;
}

.btn-sign-out{
  color: red;
}

.sign-in-link {
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

.flex {
  display: flex;
  justify-content: space-between;
  height: 47px;
}

.flatpicker {
  width: 170px;
  margin: 0px 8px;
}

.trip_name {
  margin-bottom: 8px;
  height: 39px;
  margin-left: 8px;
  margin-right: 8px;
}

.trip_starts_at {
  margin-bottom: 8px;
  height: 39px;
}

.trip_ends_at {
  margin-bottom: 8px;
  height: 39px;
}

#logo-home {
  font-family: $headers-font;
  font-weight: 700;
  font-size: 36px;
  color: white;
}

h1#logo-home {
  margin-top: 25px;
  margin-bottom: 5px;
}

.sign-in-home {
  margin-bottom: 0px;
  width: 80px;
  z-index: 1;
  position: absolute;
  top: 3px;
  right: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: $body-font;
  line-height: 1em;
  letter-spacing: 0.2px;
  color: white;
}

.sign-in-home:hover {
  color: white;
  text-decoration: none;
}

.header-home {
  background-image: url("https://source.unsplash.com/En3dXXE2-GA/1200x500");
  height: 210px;
  width: 100%;
  position: relative;
  background-size: cover;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3) !important;
    &:before {
    position: absolute;
    content: '';
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  }
}

.logo-home-container {
  width: 100%;
  position: absolute;
  top: 30px;
  text-align: center;
  color: white;
}

p#tagline-home {
  font-family: $body-font;
  font-size: 20px;
}

