// Specific CSS for your home-page


.home-background {
  text-align: center;
  background-color: $background;
  background-position: center;
  color: white;
  overflow-y:hidden;
  height: calc(100vh - 60px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: black;
  font-size: 20px;
  margin-top: 0px;
}

.home-title-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

p.home-title-wrapper {
  margin-bottom: 0px;
}

#question-1 {
  font-family: $text-font;
  font-size: 26px;
  text-align: left;
  color: $default-text-color;
  padding-left: 10px;
  padding-right: 10px;
}

p#question-1 {
  margin-top: 0px;
}

#home-title {
  font-size: 48px;
  font-family: $logo-font;
  color: $sea-blue;
  text-align: left;
    i {
      margin-left: 10px;
      margin-bottom: 20px;
    }
    font-weight: 700;
}

#home-emoji {
  font-size: 36px;
}

.home-banner {
  background-color: white;
}

.home-wrapper-cards {
  height: 240px !important;
  white-space: nowrap !important;
  overflow-x: scroll !important;
  margin-bottom: -30px !important;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  background-color: $background;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .home-card-banner {
    border: 2px solid $blue;
  }
}

.form-group {
  overflow: hidden;
  height: 200 px;
}

.home-card {
  display: inline-block !important;
  margin-right: 4px !important;
  width: 150px;
  height: 155px;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1) !important;
}

.home-card-banner {
  width:100%;
  height:220px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-position: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.35));
      opacity: .6;
    }
}

.home-card:focus {
  opacity:0.5;
}

.home-card-text {
  text-align: center !important;
  font-size: 14px;
  font-family: $text-font;
  font-weight: bold;
  color: white;
  height: 15px;
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.radio {
  display:flex;
  margin-top: 0px;
}

.label {
  width:100%;
  margin: 0px;
  padding-left: 0px !important;
  padding: 0px;
}


.home-name-trip {
  margin-top: 40px;
    label {
  font-family: $text-font;
  font-size: 26px;
  text-align: left !important;
  color: $default-text-color;
  font-weight: lighter;
  width: 375px;
    }
    .btn {
      border-radius: 50px;
      font-weight: bold;
      background-color: $dark-green;
      font-family: $logo-font;
    }
    .btn:hover {
      background-color: $dark-green;
    }
}



.trip_city .radio_buttons {
  display: none
}

.create_trip {
  margin-top: 50px;
}

.btn-create-trip{
  border-radius: 4px;
  background-color: #01AAC1;
  border-width: 0px;
  width: 100%;
}

.btn-sign-out{
  color: red;
}

.btn-create-trip:hover {
  background-color: #01AAC1;
}

.btn-create-trip:focus {
  background-color: #01AAC1;
  opacity: 0.7
}

.sign-in-link {
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

