.trip-activities-card {
  background-color: $background;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.list-image {
  height: 80px;
  width: 60px;
  background-color: white;
    &:before {
      content: '';
      position: absolute;
      left: 60px;
      height: 80px;
      width: 60px;
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.55), rgba(255,255,255,0.55));
    }
    img {
      padding-left: 15px;
      padding-top: 25px;
    }
}

.activity-list {
  li {
    list-style-type: none;
  }
  position: absolute;
  left: 130px;
  top: 15px;
  padding-left: 10px;
  padding-top: 1px;
  color: $default-text-color;
  i {
    position: absolute;
    top: 6px;
    z-index: 2;
    left: 250px;
    text-decoration: none;
    color: #00649f;
  }
}

#activity-list-name {
  font-size: 18px;
}

#activity-list-duration {
  font-size: 12px;
  margin-top: 3px;
  color: rgba(0,0,0,0.4);
}

.remove-padding {
  padding-left: 10px;
  padding-right: 10px;
  h1 {
    font-size: 26px;
  }
}

#activity-link-to {
  width: 0px;
  height: 0px;
    a {
    width: 0px;
    height: 0px;
    }
}

.container-trip-activities-list {
  width: 350px;
}

.mark-list {
  height: 80px;
  width: 60px;
  background-color: white;
  border-right: 0.1px solid rgba(0,0,0,0.1);
}

.mark-list-done {
  height: 80px;
  width: 60px;
  background-color: #7ADE81;
  position: relative;
  img {
    height: 30px;
    width: 35px;
    position: absolute;
    top: 25px;
    left: 12px;
  }
}

.trip-activities-tabs-container {
  display: flex;
  justify-content: space-around;
}

.tabs-wrapper {
  button {
    margin: 0px 10px;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 24px;
    overflow: hidden;
    background-color: $background;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding-bottom: 5px;
  }
  button.active {
    // border-bottom-color: #7ADE81;
    // border-bottom-width: 5px;
    // border-bottom-style: solid;
    // border-radius: 10px;
  }
  button.active:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #7ADE81;
    left: 0px;
    bottom: 0px;
  }
}

#trip-map {
  margin-top: 20px;
}
