ul.trip-list {
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
    width: 100%;
}

.wrapper-trip-list-item {
  background-color: white;
  height: 70px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  li {
    color: $default-text-color;
    font-size: 18px;
    text-decoration: none;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
  }
}

.container-complete-list {
  width: 100%;
}

.trip-list-photo {
  width: 70px;
  height: 70px;
}

.trip-list-text {
  bottom: 15px;
  position: absolute;
  left: 80px;
  a {
    text-decoration: none;
    color: $default-text-color;
  }
}

.trip-dates {
  position: absolute;
  bottom: 0px;
  right: 60px;
  color: $default-text-color;
  height: 45px;
  width: 120px;
  display: flex;
    li {
      font-size: 12px;
      margin-bottom: 3px;
    }
}

#start-date-trip, #end-date-trip {
  width: 50px;
  height: 45px;
}
