.preferences-button {
  border-radius: 4px;
  background-color: #01AAC1;
  border-width: 0px;
  width: 100%;
  color: white;
}

.save-preferences {
  margin-top: 50px;
}

.preferences-big-container {
  background-color: $background;
}

.preferences-big-container.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}


