

.preferences-button {
  border-radius: 4px;
  background-color: #01AAC1;
  border-width: 0px;
  width: 100%;
  color: white;
}

.save-preferences {
  margin-top: 50px;
}

.category-card {
  font-family: $body-font;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  h6 {
    font-size: 21px !important;
    color: white;
    margin:2px;
    padding:2px;
    font-family: $headers-font;
  }
}

.checked {
  opacity: 0;
  font-size: 20px;
}

.checked-act {
  opacity: 0;
  font-size: 20px;
}


.category-selected {
  &:before {
    position: absolute;
    content: '';
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  .checked {
    opacity: 1;
    color: white;
    position: relative;
    top: 8px;
    left: 85px;
  }
  .checked-act {
    opacity: 1;
    color: white;
    top: 8px;
    left: 260px;
    z-index: 2;
    position: relative;
  }
}

.col-xs-6 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
