.preferences-button {
  border-radius: 4px;
  background-color: #01AAC1;
  border-width: 0px;
  width: 100%;
  color: white;
}

.save-preferences {
  margin-top: 50px;
}

.preferences-big-container {
  background-color: $background;
}

.preferences-big-container.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.logo-home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.category-card {
  font-family: $text-font;
  background-size: cover;
  background-repeat: no-repeat;
  h6 {
    color: white;
    margin:2px;
    padding:2px;
    font-family: $title-font;
    text-align: center;
  }
}
.category-selected {
  background-color: rgba(0,0,0,0.5);
}

.col-xs-6 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
