<div class="wrapper-header">
  <div class="header">
    <h1 class="page-title">What you can do now</h1>
  </div>
</div>

<%= render "shared/trip_show", trip: @trip, trip_activities: @trip_activities, markers: @markers %>
