// body {
//   background-color: $background !important;
// }
.bottom-margin-60 {
  margin-bottom: 60px;
}
.padded-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.margin-bottom-all {
  margin-bottom: 60px;
}
