<div class="item-description">
  <p id="activity-name-description"> <%= activity.name %> </p>
  <p id="activity-address-description"><%= activity.address %> </p>
  <p id="card-description"> <%= activity.description %> </p>
</div>

