<div class="item-description-verso">
  <p id="activity-name-description"> <%= activity.name %> </p>
  <p id="activity-address-description"><%= activity.address %> </p>
  <p id="activity-card-description"> <%= activity.description %> </p>
</div>
