<div class="footer">
  <a class="footer-tab active" href= "profile">
    <i class="fa fa-user" style="font-size:25px"></i>
    <p>PROFIL</p>
  </a>
  <a class="footer-tab" href="/">
    <i class="fa fa-search" style="font-size:25px"></i>
    <p>EXPLORE</p>
  </a>
  <a class="footer-tab" href="trips">
    <i class="fa fa-globe" style="font-size:25px"></i>
    <p>MY TRIPS</p>
  </a>
  <a class="footer-tab" href="gogo">
    <i class="fa fa-map" style="font-size:25px"></i>
    <p>GOGO NOW !</p>
  </a>
</div>
