<% current = current_user %>
<ul>
<p> <% current.trips.all.each do |trip| %> </p>
<li><%= trip.city_id %></li>
<% end %>
</ul>


<%# liste = TripActivity.find(trip_id = X) %>
<%# liste.each do |activity| %>
  <%# filtre = [] %>
  <%# trajet = GOOGLE %>
  <%# visite = activity.duration %>
  <%# ouverture = activity.opens_at %>
  <%# fermeture = activity.closes_at %>
  <%# debut = Time.now + trajet  %>
  <%# fin = debut + visite %>
  <%# if debut > ouverture || fin < fermeture %>
    <%# filtre << activity %>
  <%# end %>
<%# end %>
