<h1>Pages#home</h1>
<% @cities = City.all%>
<% @cities.each do |city| %>
  <%= city.name %>
  <% end %>

<% @trip = Trip.new %>
<%= simple_form_for @trip do |f| %>
  <%= f.input :city_name %>
  <%= f.submit "chose a city", class: "btn btn-primary" %>
<% end %>
