 <div>
  <%= simple_form_for(user_preference) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: "Accepté" } %>
      <%= f.submit "Accepter", class: "btn btn-primary" %>
  <% end %>
</div>
