.btn-cta {
  color: white;
  background-color: $sea-blue;
  width: 100%;
  border-radius: 4px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: $default-font;
  font-weight: lighter;
  letter-spacing: 2px;
}
