.btn-cta {
  color: white;
  background-color: $sea-blue;
  width: 96%;
  border-radius: 2px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-family: $default-font;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  border: none;
}
