
.footer {
  background: white;
  display: flex;
  border-top: solid 1px;
  position: fixed !important;
  z-index: 10000;
  height:60px;
  bottom:0;
  left:0;
  right:0;
}
.footer a {
  color: black;
}

.footer h3 {
  font-size: 10px;
  font-weight: bold;
}
.footer p {
  font-size: 10px;
  padding-top: 3px;
  margin:Opx
}
.footer-tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 10px;
}

.footer-tab.active {
  background: white;
  color: #F07776;
}
