.header {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-around;
    }
}

.wrapper-header {
  padding-right: 0px;
  padding-left: 0px;
}

#title-1 {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 38px;
  color: $light-green;
}

#title-2 {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 38px;
  color: $dark-green;
}

#title-dot {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 38px;
  color: $sea-blue;
}
