.header {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $background;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-around;
    }
}

.wrapper-header {
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  margin-bottom: 5px;
}

#logo {
  font-family: $headers-font;
  font-weight: 700;
  font-size: 30px;
  color: $default-text-color;
  margin-bottom: 10px;
}

.sign-in {
  margin-bottom: 0px;
  width: 80px;
  z-index: 1;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: $body-font;
  line-height: 1em;
  letter-spacing: 0.2px;
  color: $default-text-color;
}

.sign-in:hover {
  color: $default-text-color;
  text-decoration: none;
}
