  <% photo_path = cl_image_path city.photo, height: 220, width: 270, crop: :fill%>
  <div class="home-card-banner" style="background-image: url('<%= photo_path %>');">
    <i class="fa fa-check-circle checked"></i>
  </div>
  <div>
    <div class="home-card-text">
      <%= city.name %>
    </div>
  </div>
