  <% photo_path = cl_image_path city.photo, height: 170, width: 210, crop: :fill%>
  <div class="home-card-banner" style="background-image: url('<%= photo_path %>');">

  </div>
  <div>
    <div class="home-card-text">
      <%= city.name %>
    </div>
  </div>
